<section id="folio" class="bg-banner__about w-full mt-5 h-[400px] flex items-center justify-center overflow-hidden">

    <div class="text-action__bg shadow-lg ">mediaway



            <div class="absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
    </div>
    </div>




    <div class="container mx-auto relative z-60">
        <div class="py-5 flex flex-col items-start justify-center">
            <h3 class="home__title lg:text-[60px] text-3x1 mb-5 lg:mt-0 mt-2 text-left text-white ">Остались вопросы?</h3>
            <button id="my_request2" class="request-btn btn bg-secondary btn-lg mt-5 text-white">ОСТАВИТЬ ЗАЯВКУ</button>
        </div>
    </div>

</section>