
<section class="relative overflow-hidden h-[200px] bg-pages flex items-center justify-start">




    
    <div class="container mx-auto z-60 relative">
        <div class="py-5">
            <h3 class="title-lg text-white">{{ this.page.title }}</h3>
        </div>

    </div>

    <div class="absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
    </div>



</section>