

    <div class="flex items-center justify-center flex-wrap w-full">
        <h1
            class="lg:text-4xl text-4xl uppercase lg:pb-10 pb-5 group-hover:text-secondary transition-all lg:text-3x1 font-bold text-lg">
            Наши работы</h1>
    </div>

    <div class="swiper mySwiper group">
        <div class="swiper-wrapper">
            <div class="swiper-slide group bg-folio__parent">

                <div class="bg-folio__child bg-skin flex items-center justify-center lg:h-[500px] h-[400px]">
                    <div
                        class="flex w-full absolute top-0 flex-col items-center justify-center text-white relative z-50">
                        <h1 class="text-[32px] font-bold uppercase">skincareshop</h1>
                        <p>Интернет каталог</p>
                        <a target="_blank" class="mt-5" href="http://www.skincareshop.kz">Посмотреть</a>

                    </div>
                </div>







            </div>



            <div class="swiper-slide group bg-folio__parent">

                <div class="bg-folio__child bg-sant flex items-center justify-center lg:h-[500px] h-[400px]">
                    <div
                        class="flex w-full absolute top-0 flex-col items-center justify-center text-white relative z-50">
                        <h1 class="text-[32px] font-bold uppercase">Fontanero Landing</h1>
                        <p>Одностраничный сайт компании</p>
                        <a target="_blank" class="mt-5" href="https://fontaneros.netlify.app/">Посмотреть</a>

                    </div>
                </div>







            </div>




   




            <div class="swiper-slide group bg-folio__parent">

                <div class="bg-folio__child bg-mediasat flex items-center justify-center lg:h-[500px] h-[400px]">
                    <div
                        class="flex w-full absolute top-0 flex-col items-center justify-center text-white relative z-50">
                        <h1 class="text-[32px] font-bold uppercase">Mediasat</h1>
                        <p>Одностраничный сайт компании</p>
                        <a target="_blank" class="mt-5" href="https://mediasat.netlify.app">Посмотреть</a>

                    </div>
                </div>







            </div>






            <div class="swiper-slide group bg-folio__parent">

                <div class="bg-folio__child bg-stia flex items-center justify-center lg:h-[500px] h-[400px]">
                    <div
                        class="flex w-full absolute top-0 flex-col items-center justify-center text-white relative z-50">
                        <h1 class="text-[32px] font-bold uppercase">STIA</h1>
                        <p>Охрана и безопасность труда</p>
                        <a target="_blank" class="mt-5" href="https://stia.kz/">Посмотреть</a>

                    </div>
                </div>






            </div>


            <div class="swiper-slide group bg-folio__parent">

                <div class="bg-folio__child bg-fontanero flex items-center justify-center lg:h-[500px] h-[400px]">

                    <div
                        class="flex w-full absolute top-0 flex-col items-center justify-center text-white relative z-50">
                        <h1 class="text-[32px] font-bold uppercase">Fontanero</h1>
                        <p>Магазин сантехники</p>
                        <a target="_blank" class="mt-5" href="https://fontanero.kz/ru">Посмотреть</a>

                    </div>
                </div>







            </div>





















        </div>
        <!-- <div class="swiper-pagination"></div> -->

        <div class=" flex w-full items-center justify-center relative">
            <div
                class="bg-white lg:translate-y-16  lg:group-hover:translate-y-0 transition-all duration-700  bg-opacity-30 absolute border border-white border-opacity-30 bottom-0 z-50 w-[150px] h-[55px] flex items-center justify-center">
                <a href="" class="slider-arrow slider-arrow__left">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                    </svg>
                </a>

                <a href="" class="slider-arrow slider-arrow__right">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6  z-50" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </a>
            </div>
        </div>


    </div>


