<div class="footer-bottom relative bg-primary p-5 flex items-center flex-col">

    <button id="top" class="bg-secondary p-3 absolute -top-[20px] text-white rounded-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 flex-shrink-0">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
        </svg>
    </button>

    <div class="container mx-auto">
        <div class=" flex lg:flex-row flex-col items-center justify-between p-5 w-full text-center text-white">
            <p class="lg:text-left">Веб-студия Mediaway. Создание сайтов в Астане.<br>

                Работаем с 2017 года</p>

          <p class="lg:text-right mt-5 lg:mt-0">Республика Казахстан<br>
            Астана, УЛИЦА 38, дом 23, кв/офис 158</p>

        </div>
    </div>

</div>