<header class="header w-full z-70 fixed">
    <div class="header__left">
      <div class="header__logo">
        <a href="/" class="logo">
          <img class="lg:w-[150px] w-[100px] h-[16px]" src="{{ 'assets/img/logo.svg'|theme }}" alt="">
        </a>
      </div>
      <nav class="menu">
        <ul class="menu__list text-white">
          <li class="menu__item text-sm lg:bg-transparent bg-primaryLight"><a href="#home" class="menu__link">Главная</a></li>
          <li class="menu__item text-sm lg:bg-transparent bg-primaryLight"><a href="#about" class="menu__link">О нас</a></li>
          <li class="menu__item text-sm lg:bg-transparent bg-primaryLight"><a href="#service" class="menu__link">Услуги</a></li>
          <li class="menu__item text-sm lg:bg-transparent bg-primaryLight"><a href="#contact" class="menu__link">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__right">
      <a href="tel:87761604911" class="header__phone">8 776 160 49 11</a>
      <button id="my_request1" class="request-btn header__callback">Заказать звонок</button>
    </div>
  
    <div class="header__hamburger">
      <div class="header__hamburger-line"></div>
      <div class="header__hamburger-line"></div>
      <div class="header__hamburger-line"></div>
    </div>
  
  </header>


