



        <div class="background absolute w-full top-0 left-0 z-50">
            <div class="star1 star"></div>
            <div class="star2 star"></div>
            <div class="star3 star"></div>
            <div class="star4 star"></div>
        </div>


        <div class="relative w-full overflow-hidden flex flex-col items-center justify-center h-full">

            <div class="container">
                <div
                    class="text-center flex flex-col text-left lg:text-center lg:items-center items-start relative z-60 p-5">
                    <h1 class="home__title lg:text-[60px] text-3x1 mb-5 lg:mt-0 mt-2 lg:text-center text-left ">
                        Создание
                        сайтов в Астане
                    </h1>
                    <p class="lg:leading-9 lg:text-2xl text-1x1 lg:p-0 text-left lg:text-center text-lg">
                        Разрабатываем адаптивные сайты для Вашего Бизнеса.<br> Доступно передаем ценность Вашего
                        продукта.
                    <ul class="mt-5 lg:py-5 py-1 flex lg:flex-row flex-col lg:text-lg text-sm">
                        <li class="lg:p-2 uppercase tracking-wide font-bold  py-2 flex">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                            </svg> <span> Поэтапная оплата</span>
                        </li>

                        <li class="lg:p-2 uppercase tracking-wide font-bold  py-2 flex">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                            </svg> <span> Лучшие цены</span>
                        </li>

                        <li class="lg:p-2 uppercase tracking-wide font-bold  py-2 flex">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                            </svg> <span> Работа на результат</span>
                        </li>

                    </ul>
                    </p>
                    <button id="my_request2" class="request-btn btn bg-secondary btn-lg">ОСТАВИТЬ ЗАЯВКУ</button>

                </div>
            </div>
        </div>






        <div
            class="absolute lg:bottom-10 bottom-0 z-50 lg:border-t border-white absolute border-opacity-25 w-full flex items-center flex-col justify-center">
            <div
                class="p-5 transform rotate-45 lg:border border-white border-opacity-25 relative lg:-top-5 -top-10 lg:bg-primary flex items-center justify-center">
                <div class="transform -rotate-45 absolute z-50">

                    <svg id="scroll-bot" xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 text-white cursor-pointer animate-bounce" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                    </svg>

                </div>
            </div>
        </div>


 