<div id="form_request" class="modal z-70 fixed w-full h-screen top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full  h-full bg-primary opacity-80"></div>

    <div class="modal-container bg-white relative z-70 lg:w-1/2 lg:mx-0 mx-5 rounded shadow-lg overflow-y-auto">



        <!-- Основное содержимое модального окна -->
        <div class="w-full">
            
            <div class="modal-content col-span-2 p-5 w-full text-left">


                <h1 class="modal-heading text-2xl my-5">Поможем с выбором вашего сайта</h1>
                <p class="pb-5">Оставьте заявку и наш менеджер перезвонит вам, чтобы помочь с выбором
                    оптимального решения

                </p>

                <div
                    class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
                    <svg class="fill-current text-primary" xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                        viewBox="0 0 18 18">
                        <path d="M18 1.5L16.5 0 9 7.5 1.5 0 0 1.5 7.5 9 0 16.5 1.5 18 9 10.5 16.5 18 18 16.5 10.5 9z" />
                    </svg>

                </div>

                <form data-request="{{ genericForm }}::onFormSubmit">

                    {{ form_token() }}

                    <div id="{{ genericForm }}_forms_flash"></div>

                    <div class="form-group w-full mb-5">
                        <input type="text" placeholder="Ваше имя:" id="name" name="name"
                            class="form-control w-full border p-2 border-primary border-opacity-25" required
                            autocomplete="off">
                        <div data-validate-for="name"></div>
                    </div>

                    <div class="form-group w-full">
                        <input type="text" placeholder="+7 (__)___ __ __" id="email" name="email"
                            class="form-control w-full border p-2 border-primary border-opacity-25 mb-5" required
                            autocomplete="off">
                    </div>

                    <button id="simpleContactSubmitButton" type="submit" class="bg-secondary w-full btn text-white mb-2"
                        disabled>Отправить</button>

                    <div class="my-3 w-full text-center">
                        <span class="text-sm">Отправляя данную форму, вы подтверждаете <br> свое согласие на <a
                                class="text-sm underline" href="/policy">обработку персональных данных</a></span>
                    </div>


                </form>





            </div>
        </div>
    </div>
</div>