<div class=" container mx-auto ">
  <div class="flex justify-between w-full">
  <div class="header__left">
    <div class="header__logo">
      <a href="/" class="logo">
        <img class="lg:w-[150px] w-[100px] h-[16px]" src="{{ 'assets/img/logo.svg'|theme }}" alt="">
      </a>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item lg:bg-transparent bg-primaryLight"><a href="/" class="menu__link">Главная</a></li>
        <li class="menu__item lg:bg-transparent bg-primaryLight"><a href="about" class="menu__link">О нас</a></li>
        <li class="menu__item lg:bg-transparent bg-primaryLight menu__item--has-dropdown group">
          <a href="#" class="menu__link menu__link--has-dropdown">Услуги</a>
          <ul class="menu__dropdown lg:bg-primaryLight lg:shadow-lg lg:absolute relative hidden lg:group-hover:block ">
            <li class="menu__dropdown-item border-b border-white border-opacity-25"><a href="/service1" class="menu__dropdown-link">Продвижение сайта</a></li>
            <li class="menu__dropdown-item border-b border-white border-opacity-25"><a href="/service2" class="menu__dropdown-link">Рекламное агенство</a></li>
            <li class="menu__dropdown-item"><a href="/support" class="menu__dropdown-link">Техническая поддержка</a></li>
          </ul>
        </li>
        <li class="menu__item text-sm lg:bg-transparent bg-primaryLight"><a href="contacts" class="menu__link">Контакты</a></li>
      </ul>
    </nav>
    </div>
  <div class="header__right">
     <a href="tel:87761604911" class="header__phone">8 776 160 49 11</a>
    <button id="my_request2" class="request-btn header__callback">Заказать звонок</button>
  </div>

  <div class="header__hamburger">
    <div class="header__hamburger-line"></div>
    <div class="header__hamburger-line"></div>
    <div class="header__hamburger-line"></div>
  </div>
</div>
</div>



