<div class="service-banner">

    <div class="container mx-auto">
    <div class="service-banner__head">
       
            <h1 class="service-banner__subTitle mb-5">Разработка сайтов по передовым технологиям</h1>
            <span class="title-lg">Наши услуги</span>
            
        </div>
        <p class="help-block__desc">Предлагаем полный спектр услуг в области интернет-маркетинга для малого,<br>
            среднего и крупного бизнеса по всему Казахстану и странам СНГ.
        </p>
    </div>
</div>


<section class="service " id='product'>
    <div class="container mx-auto">
        <div class="service-block">
            <div class="service-item group">
                <div class="service-item__inner">
                    <div
                        class="bg-secondary w-[1px] h-[1px] transform absolute left-0 top-0 group-hover:scale-[1200] rounded-full duration-500 transition-all">
                    </div>
                    <div class="service-item__icon">
                        <img src="{{ 'assets/img/service/1.svg'|theme}}" alt="">

                    </div>
                    <h1 class="service-item__title">Landing Page</h1>
                    <p class="service-item__desc">
                        Одностраничный сайт с кратким рассказом о конкретном продукте или услуге компании.

                    </p>
                    <div class="service-item__footer">
                        <span class="service-item__price">от 50 000 ₸</span>
                        <a href="https://wa.me/+77781647391" class="service-item__btn">
                            Заказать
                        </a>
                    </div>
                </div>
            </div>

            <div class="service-item group">
                <div class="service-item__inner">
                    <div
                        class="bg-secondary w-[1px] h-[1px] transform absolute left-0 top-0 group-hover:scale-[1200] rounded-full duration-500 transition-all">
                    </div>
                    <div class="service-item__icon">
                        <img src="{{ 'assets/img/service/2.svg'|theme}}" alt="">

                    </div>
                    <h1 class="service-item__title">Сайт визитка</h1>
                    <p class="service-item__desc">
                        Информационный мини-сайт для знакомства с компанией.
                    </p>
                    <div class="service-item__footer">
                        <span class="service-item__price">от 100 000 ₸</span>
                        <a href="https://wa.me/+77781647391" class="service-item__btn">
                            Заказать
                        </a>
                    </div>
                </div>
            </div>

            <div class="service-item group">
                <div class="service-item__inner">
                    <div
                        class="bg-secondary w-[1px] h-[1px] transform absolute left-0 top-0 group-hover:scale-[1200] rounded-full duration-500 transition-all">
                    </div>
                    <div class="service-item__icon">
                        <img src="{{ 'assets/img/service/3.svg'|theme}}" alt="">

                    </div>
                    <h1 class="service-item__title">
                        Корпоративный сайт</h1>
                    <p class="service-item__desc">
                        Позволяет подробно рассказать о всех особенностях компании и ее достоинствах.

                    </p>
                    <div class="service-item__footer">
                        <span class="service-item__price">от 300 000 ₸</span>
                        <a href="https://wa.me/+77781647391" class="service-item__btn">
                            Заказать
                        </a>
                    </div>
                </div>
            </div>



            <div class="service-item group">
                <div class="service-item__inner">
                    <div
                        class="bg-secondary w-[1px] h-[1px] transform absolute left-0 top-0 group-hover:scale-[1200] rounded-full duration-500 transition-all">
                    </div>
                    <div class="service-item__icon">
                        <img src="{{ 'assets/img/service/4.svg'|theme}}" alt="">

                    </div>
                    <h1 class="service-item__title">
                        Интернет магазин</h1>
                    <p class="service-item__desc">
                        Начните продавать товары на собственном сайте.

                    </p>
                    <div class="service-item__footer">
                        <span class="service-item__price">Договорная</span>
                        <a href="https://wa.me/+77781647391" class="service-item__btn">
                            Заказать
                        </a>
                    </div>
                </div>
            </div>

            <div class="service-item group">
                <div class="service-item__inner">
                    <div
                        class="bg-secondary w-[1px] h-[1px] transform absolute left-0 top-0 group-hover:scale-[1200] rounded-full duration-500 transition-all">
                    </div>
                    <div class="service-item__icon">

                        <img src="{{ 'assets/img/service/5.svg'|theme}}" alt="">

                    </div>
                    <h1 class="service-item__title">
                        SEO</h1>
                    <p class="service-item__desc">
                        Выведем Ваш сайт в ТОП 10 выдачи поисковых систем.

                    </p>
                    <div class="service-item__footer">
                        <span class="service-item__price">Договорная</span>
                        <a href="https://wa.me/+77781647391" class="service-item__btn">
                            Заказать
                        </a>
                    </div>
                </div>
            </div>


            <div class="service-item group">
                <div class="service-item__inner">
                    <div
                        class="bg-secondary w-[1px] h-[1px] transform absolute left-0 top-0 group-hover:scale-[1200] rounded-full duration-500 transition-all">
                    </div>
                    <div class="service-item__icon">
                        <img src="{{ 'assets/img/service/6.svg'|theme}}" alt="">

                    </div>
                    <h1 class="service-item__title">Реклама</h1>
                    <p class="service-item__desc">
                        Настроим рекламу в поисковике Yandex, Google, настроим таргетинг в социальных сетях.

                    </p>
                    <div class="service-item__footer">
                        <span class="service-item__price">Договорная</span>
                        <a href="https://wa.me/+77781647391" class="service-item__btn">
                            Заказать
                        </a>
                    </div>
                </div>
            </div>

        </div>


        {% partial 'w_included' %}


    </div>

</section>