<div class="help-block rounded-lg relative overflow-hidden">

    <div class="background absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
    </div>


    <div class="help-block__inner group">
        <div class="help-block__content">
            <h1 class="title-lg">
                Помочь с выбором?</h1>


            <p class="help-block__desc">Иногда не сразу понятно какой сайт нужен именно Вам. <br>Наш специалист
                готов Вас проконсультировать и ответить на все интересующие вопросы.

            </p>

        </div>

        <div class="relative py-10 z-50">
            <a href="https://wa.me/+77781647391" class="btn bg-secondary w-full">
                Связаться со специалистом
            </a>
        </div>
    </div>
</div>